$bg-color: #f1f1f1;
$bg-color2: #e6e6e6;
$text-color: #000000;

@mixin flex-full {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: none;
  border: 0;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}
 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-color;
  color: $text-color;
  font-size: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  @include flex-full;
}

.frame {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}


.borderArea {
  border-radius: 20px;
  margin-left:-10vw;
  width: calc(100% - 10vw) !important;
//  overflow: hidden;
  min-height: 500px;
  background: white;
  padding: 20px !important;
  margin: 0 !important;
  box-shadow: 22px 10px 52px rgba(190, 190, 190,.7);
  border: 4px solid white;
  background: radial-gradient(circle at -40% 50%, rgba(221,221,221,1) 0%, rgba(221,221,221,1) 60%, #f2f2f2 60%, #f2f2f2 100%);
  
}

.bgArea {
  min-height: 500px;
 // background: linear-gradient(340deg, rgba(207,207,207,.3) 0%, rgba(207,207,207,.3) 30%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 100%);;
}

.changePosition {position: relative;}
.changeDrawer .MuiDrawer-paper {
  position: absolute;
  height: -webkit-fill-available;
  min-height: 500px;
  padding: 0px;
  width: calc(100% - 20px);
}
.sidebarArea {padding: 10px;}

.applyFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  height: 480px;
  width: 100%;
}

.customSwitchColor {}
.customBrown {background-color: rgb(109, 15, 23) !important;}
.customGrey {background-color: rgb(105, 105, 105) !important;}
.customLight {background-color: rgb(236, 236, 236) !important;}
.customDark {background-color: rgb(26, 26, 26) !important;color:white;}
.customWhite {background-color: rgb(255, 255, 255) !important;}

.sizeMin.selected:hover,
.sizeMin.selected{
  border: 0 !important;
  box-shadow: none;
}

.sizeMin {
  border-radius: 50px !important;
  height: 30px;
  padding: 0 !important;
  width: 30px;
  min-width: inherit !important;
  margin-right: 5px !important;
  border: 2px solid rgba(255, 255, 255, .5) !important;
}

.customSliderDark {color:rgb(82, 82, 51) !important;}
.customDark {
  color:rgb(255, 255, 255) !important;
  background: rgb(0, 0, 0) !important;
}
.customWhite {
  color:rgb(0, 0, 0) !important;
  background: white !important;
}
.pagesArea {position: relative;}
.pagesArea span{
  font-size: 11px !important;
}

.colorArea {}
.smallMenu {
  position: absolute;
  right: -10px;
  top: -20px;
}
.sliderArea {max-width: 200px;}

.menuLi {
  font-size: 13px !important;
}

.test model-viewer {
  width: 50vw !important;
  height: 70vh !important;
  margin-left:-20vw;
  background: transparent !important;
}

@media (max-width:760px) {

  .borderArea { 
    border-radius: 0;
    border: 0;
  }

}